// fonts
$font-big-headers: 'Muller Bold', Arial, sans-serif;
$font-subheader: 'PT Sans', Arial, sans-serif;
$font-small-headers: 'Muller Medium', Arial, sans-serif;
$font-text: 'Muller Regular', Arial, sans-serif;
$font-numbers: 'PT Serif', Arial, sans-serif;

//colors
$blue: #2F80ED;
$black: #000000;
$gray: #4F4F4F;
$gray-box: #E0E0E0;
$yellow: #FFCF10;
$white: #ffffff;

